body{
   background: linear-gradient(to bottom left, #5fb68b -1%, #c07b4f 100%);
   background-repeat: no-repeat;
   height: 100vh;
   margin: 0 auto;
}

.intro {
  color: white;
   text-align: center;
}

.idiom{
  padding: 5vh;
  font-size: 4vw;
}

.igLogo {
  padding: 2vh;
}

.user, .pass{
  margin-top: 3vh;
  padding: 1vw;
  border-radius: 2vw;
  opacity: 0.3;
  width: 80vw;
  height: 8vh;
  color: #000;
}
.pass{
  margin-top: 2vh;
}
.login{
  margin-top: 3vh;
  background-color: Transparent;
  border: 0.05em solid #fff;
  height: 8vh;
  border-radius: 0.5em;
  font-size: 3vw;
  width: 80vw;
  
}

.logHelp{
  margin-top: 3vh;
  font-size: 3vw;
  opacity: 0.4;
}

.bold{
  font-weight: bold;
}
.or {
  margin-top: 1vh;
  font-size: 2vh;
}

.or:before,
.or:after {
  background-color: #fff;
  content: "";
  display: inline-block;
  height: 0.1vh;
  position: relative;
  vertical-align: middle;
  width: 40vw;
}

.or:before {
 right: 0.5em;
 margin-left: -50%;
}
.or:after {
 left: 0.5em;
 margin-right: -50%;
}

.facebook{
  margin-top: 1vh;
  font-size: 4vw;
}

.register {
  margin-top: 2vh;
  padding: 1vh;
  font-size: 2.5vh;
  border-top: 0.1em solid #fff;
  opacity: 0.6;
}

